extend default

block content
  p
    | this project was conceived thanks to playing around with
    b  the internet
    |  a project from
    b  Dave Haeffner
    |  , which you can find out more about from here.
