doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title WATER - version 0.1
  body
    .header
      h1.page-title WATER - version 0.1

    ul.nav
      li: a(href='/') Water
      li: a(href='login') Basic Auth Login
      li: a(href='credit') Credit
      li: a(href='#contact') Contact
      li: a(href='https://github.com/neillboyd/water') Github

    .main-content
      block content

    .footer
      p No copyright notice. You can do whatever you wish with this.
