extend default

block content
  p
    | welcome to
    b  water 0.1
    |  a useful tool for learning how to develop automated checks for the web using selenium. This project contains a website that tries to encompass as many common features as you'd find on
    b  the internet
    |  with a particular focus on the nasty things that trip people up.

  p
    b Water Features:

  ul.features
    li: a(href='/') Static HTML Page
    li: a(href="/login") Basic Auth Login
    li  Login Form Page
    li  Autocomplete Search Results
    li  Drag and Drop
    li  Dynamic Content
    li  Opening A New Window
    li  Status Codes
    li  Notification Messages
    li  Modal Pop-Ups
    li  Feedback Form Submit
