extend default

block content
  p
    | welcome to
    b  water 0.1
    |  a useful tool for learning how to develop automated checks for the web using selenium. This project contains a website that tries to encompass as many common features as you'd find on
    b  the internet
    |  with a particular focus on the nasty things that trip people up.

  p
    b Water Features:

  ul(style='text-align: center; list-style-type: none;')#Features
    li: a(href="#feature_a") Static HTML Page
    li: a(href="#feature_b") Basic Auth Login
    li: a(href="#feature_c") Login Form Page
    li: a(href="#feature_d") Autocomplete Search Results
    li: a(href="#feature_e") Drag and Drop
    li: a(href="#feature_f") Dynamic Content
    li: a(href="#feature_g") Opening A New Window
    li: a(href="#feature_h") Status Codes
    li: a(href="#feature_i") Notification Messages
    li: a(href="#feature_j") Modal Pop-Ups
    li: a(href="#feature_k") Feedback Form Submit
